@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', Arial, 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, 'sans-serif';
}

.row {
  margin-bottom: 20px;
}

.hr {
  color: #ccc;
  font-size: 12px;
}

.page {
  margin-bottom: 200px;
}

.content-block {
  margin: 10px 0px;
}

.content-code {
  text-align: left;
  width: 600px;
  margin: 0 auto;
}

table {
  width: 700px !important;
  margin: 0 auto;
}

iframe {
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0px 0px 5px #000;
  width: 500px;
  height: 200px
}